Client/Client.Formlhm/Service References/ServiceBagageReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MyAirport.Pim.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetBagagebyCodeIata_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBagagebyCodeIata" />
  </wsdl:message>
  <wsdl:message name="IService_GetBagagebyCodeIata_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBagagebyCodeIataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetBagageById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBagageById" />
  </wsdl:message>
  <wsdl:message name="IService_GetBagageById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBagageByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateBagage_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBagage" />
  </wsdl:message>
  <wsdl:message name="IService_CreateBagage_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBagageResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetInfoRoutage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoRoutage" />
  </wsdl:message>
  <wsdl:message name="IService_GetInfoRoutage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoRoutageResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetBagagebyCodeIata">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetBagagebyCodeIata" message="tns:IService_GetBagagebyCodeIata_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetBagagebyCodeIataResponse" message="tns:IService_GetBagagebyCodeIata_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBagageById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetBagageById" message="tns:IService_GetBagageById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetBagageByIdResponse" message="tns:IService_GetBagageById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBagage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateBagage" message="tns:IService_CreateBagage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateBagageResponse" message="tns:IService_CreateBagage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInfoRoutage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetInfoRoutage" message="tns:IService_GetInfoRoutage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetInfoRoutageResponse" message="tns:IService_GetInfoRoutage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBagagebyCodeIata">
      <soap:operation soapAction="http://tempuri.org/IService/GetBagagebyCodeIata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBagageById">
      <soap:operation soapAction="http://tempuri.org/IService/GetBagageById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBagage">
      <soap:operation soapAction="http://tempuri.org/IService/CreateBagage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfoRoutage">
      <soap:operation soapAction="http://tempuri.org/IService/GetInfoRoutage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Service/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>